resources/app/zkSNARK/*.key
resources/app/VoteCoin/.lock
resources/app/VoteCoin/*.log
resources/app/VoteCoin/*.dat
resources/app/VoteCoin/chainstate
resources/app/VoteCoin/blocks
resources/app/VoteCoin/database
resources/app/VoteCoin/votecoin.conf
resources/app/settings/*.json
votecoin-cli.exe
